@()(implicit flash: Flash, messages: Messages, ac: controllers.AppContext, req: play.api.mvc.RequestHeader)

<section class="section">
	<div class="grid grid--container">
		<div data-aos="fade-up" data-aos-offset="100">
			<div class="section-heading section-heading--center  col-MB-60">
				<h5 class="__subtitle">Наша миссия</h5>

				<h2 class="__title">Первая глобальная децентрализовання с искуственным интеллектом... </h2>
			</div>

			<div class="row row--xs-middle">
				<div class="col col--lg-8">
					<p class="text--center">
						<img class="lazy" src="@routes.Assets.versioned("images/landing/blank.gif")" data-src="@routes.Assets.versioned("images/landing/ico/ico_logo.png")" width="43" height="48" alt="demo" />
					</p>

					<p>
						Большинство ICO проектов, которые пишут что они хотят засунуть в проект искуственный интелект, блокчейн и сделать это глобальным - понятия не имеют что делают) Они даже не знают, что
						подраземвается под этими словами. Мы знаем что такое ИИ и блокчейн и понимаем что большинство ICO проектов в итоге ничего из этого не сделает. Поэтому, поверьте нам, наше ICO ничем не отличается от
						большинства других. Мы просто прямо Вам скажем что ничего не будем делать и хотим чтобы Вы нам дали за это денег!
					</p>
				</div>
			</div>
		</div>

			<!-- start video -->
		<div class="video-container" data-aos="fade-up">
			<img class="img-responsive center-block lazy" src="@routes.Assets.versioned("images/landing/blank.gif")" data-src="@routes.Assets.versioned("images/landing/video_bg.png")" alt="demo" />

			<div class="__video" style="max-width: 770px;">
				<div class="__wrp">
					<div class="embed-responsive">
						<div class="__bg embed-responsive-item lazy" data-src="@routes.Assets.versioned("images/landing/video_bg_1.jpg")">
							<div class="__btn_wrp">
								<a class="__play-btn  circled" data-fancybox href="http://player.vimeo.com/video/44309170"></a>

								<span class="__desc">Ну нет у нас денег на презентацию, да и она дает не влияет на сборы</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<!-- end video -->
	</div>
</section>
