@()(implicit flash: Flash, messages: Messages, ac: controllers.AppContext, req: play.api.mvc.RequestHeader)

<section class="section section--light-blue-bg section--custom-04">

	<style type="text/css">
		.section--custom-04
		{
			background-image: url(@routes.Assets.versioned("images/landing/section_bg_2.png"));
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}
	</style>

	<div class="grid grid--container">
		<div class="row row--xs-center">
			<div class="col col--md-5 col--lg-4">
				<div class="section-heading" data-aos="fade-right">
					<h5 class="__subtitle">Документы</h5>
					<h2 class="__title">Чем больше документов, тем серьезнее выглядит проект!</h2>
				</div>
			</div>
			<div class="col hide--md col-MB-40"></div>
			<div class="col col--md-7 col--lg-8">
				<div class="documents documents--style-1">
					<div class="__inner">
						<div class="row row--xs-between">
							@landing.components.docLinksSectionItem("WhitePapper", 100)
							@landing.components.docLinksSectionItem("One Page Summary", 200)
							@landing.components.docLinksSectionItem("Pitch Deck", 300)
							@landing.components.docLinksSectionItem("Industry Report", 400)
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
