@()(implicit flash: Flash, messages: Messages, ac: controllers.AppContext, req: play.api.mvc.RequestHeader)

<section class="section">
	<div class="grid grid--container">
		<div class="section-heading section-heading--center  col-MB-60">
			<h5 class="__subtitle">Наш продукт</h5>

			<h2 class="__title">Красота, функциональность и еще куча бесполезных слов</h2>
		</div>
		<div class="feature feature--style-2  text--center">
			<div class="__inner">
				<div class="row">
					@landing.components.featureItem("Мобильная приложуха", "Надо же расписать на что бабло инвесторов уйдет. Кому какая разница что мобильное приложение нафиг не нужно и можно обойтись мобильной версией сайта." ,"feature_img/1_1.png")
					@landing.components.featureItem("Типа безопасноть", "Красиво расставленные иконки должны дать понять инвестору что мы якобы работали над сайтом день и ночь, а не просто слизали шаблон.", "feature_img/2_1.png")
					@landing.components.featureItem("Чо-то еще", "Тут вообще не знаю что написать, да и пофиг, всеравно никто не заметит.", "feature_img/3_1.png")
				</div>
			</div>
		</div>
	</div>
</section>
