@()(implicit flash: Flash, messages: Messages, ac: controllers.AppContext, req: play.api.mvc.RequestHeader)

<section class="section jarallax" data-speed="0.5">
	<img class="jarallax-img" src="@routes.Assets.versioned("images/landing/bg_5.jpg")" alt="demo" />
	<div class="grid grid--container">
		<div class="row row--xs-middle row--xs-center  text--center">
			<div class="col col--lg-auto">
				<div data-aos="fade-right" data-aos-offset="50" data-aos-easing="ease">
					<h2 style="color: #fff">Просто нужно было добавить картинку</h2>
				</div>
			</div>
			<div class="col col--lg-auto">
				<div data-aos="fade-left" data-aos-offset="50" data-aos-easing="ease">
					<br class="hide--lg">
					<a class="custom-btn custom-btn--medium custom-btn--style-2" href="#">Кнопочка</a>
				</div>
			</div>
		</div>
	</div>
</section>
