@()(implicit flash: Flash, messages: Messages, ac: controllers.AppContext, req: play.api.mvc.RequestHeader)

<section class="section jarallax" data-speed="0.5">
	<img class="jarallax-img" src="@routes.Assets.versioned("images/landing/bg_6.jpg")" alt="demo" />

	<div class="grid grid--container">
		<div class="section-heading section-heading--center section-heading--white  col-MB-60">
			<h5 class="__subtitle">Ну эта секция на всех сайтах есть, поэтому ее всеже нужно было заполнить</h5>

			<h2 class="__title">Мы долго планировали этот roadmap</h2>
		</div>

			<!-- start timeline -->
		<div class="timeline timeline--style-1 timeline--light-color">
			<div class="row row--xs-middle row--no-gutters">
				<div class="col col--xs-10">
					<div class="row row--xs-middle row--xs-center row--no-gutters" style="min-width: 750px;">
						@landing.components.roadmapSectionItem(false, "June 2017") {
							Даже не дуимали<br> что такой<br> фигней займемся
						}
						@landing.components.roadmapSectionLine(true)
						@landing.components.roadmapSectionItem(false, "Jule 2017") {
							Пили
						}
						@landing.components.roadmapSectionLine(true)
						@landing.components.roadmapSectionItem(false, "December 2017") {
							Пили
						}
						@landing.components.roadmapSectionLine(true)
						@landing.components.roadmapSectionItem(false, "December 2017") {
							Выходили<br> из запоя
						}
						@landing.components.roadmapSectionLine(true)
						@landing.components.roadmapSectionItem(false, "April 2019") {
							Наобещать<br> всего<br> инвесторам
						}
						@landing.components.roadmapSectionLine(false)
						@landing.components.roadmapSectionItem(true, "May 2019") {
							Снять бабло<br>
							и скрыться<br>
							за границей
						}
						@landing.components.roadmapSectionLine(false)
						@landing.components.roadmapSectionItem(false, "June 2019") {
							Пить
						}
					</div>
				</div>
			</div>
		</div>
			<!-- end timeline -->
	</div>
</section>
