@()(implicit flash: Flash, messages: Messages, ac: controllers.AppContext, req: play.api.mvc.RequestHeader)

<section class="section">
	<div class="grid grid--container">
		<div class="section-heading section-heading--center  col-MB-60">
			<h5 class="__subtitle">Our service is built on Ethereum Blockchain </h5>

			<h2 class="__title">Token information</h2>
		</div>

		<div class="row row--md-between">
			<div class="col col--md-5 col--lg-4">
				<div class="list-with-ico">
						<!-- start item -->
					<div class="list__item" data-aos="fade-right" data-aos-offset="50">
						<div class="b-table">
							<div class="cell v-middle">
								<i class="ico fontello-avatar"></i>
							</div>

							<div class="cell v-middle">
								<h5>Name: Arthur Smith (ART)</h5>
							</div>
						</div>
					</div>
						<!-- end item -->

						<!-- start item -->
					<div class="list__item" data-aos="fade-right" data-aos-offset="50">
						<div class="b-table">
							<div class="cell v-middle">
								<i class="ico fontello-layer"></i>
							</div>

							<div class="cell v-middle">
								<h5>Platform : Ethereum (ERC55)</h5>
							</div>
						</div>
					</div>
						<!-- end item -->

						<!-- start item -->
					<div class="list__item" data-aos="fade-right" data-aos-offset="50">
						<div class="b-table">
							<div class="cell v-middle">
								<i class="ico fontello-settings"></i>
							</div>

							<div class="cell v-middle">
								<h5>Role : Purchase digital services</h5>
							</div>
						</div>
					</div>
						<!-- end item -->

						<!-- start item -->
					<div class="list__item" data-aos="fade-right" data-aos-offset="50">
						<div class="b-table">
							<div class="cell v-middle">
								<i class="ico fontello-calculator"></i>
							</div>

							<div class="cell v-middle">
								<h5>Total supply : 100'000'000 tokens</h5>
							</div>
						</div>
					</div>
						<!-- end item -->

						<!-- start item -->
					<div class="list__item" data-aos="fade-right" data-aos-offset="50">
						<div class="b-table">
							<div class="cell v-middle">
								<i class="ico fontello-attachment"></i>
							</div>

							<div class="cell v-middle">
								<h5>ICO supply : 60'000'000 tokens</h5>
							</div>
						</div>
					</div>
						<!-- end item -->

						<!-- start item -->
					<div class="list__item" data-aos="fade-right" data-aos-offset="50">
						<div class="b-table">
							<div class="cell v-middle">
								<i class="ico fontello-tag"></i>
							</div>

							<div class="cell v-middle">
								<h5>Token price : 0.25€ / 0.29 USD</h5>
							</div>
						</div>
					</div>
						<!-- end item -->
				</div>
			</div>

			<div class="col hide--md col-MB-40"></div>

			<div class="col col--md-7">
				<div data-aos="fade-up">
					<h3>We truly believe in the "tokenization" of the economy, that is why we created a token to use our service.</h3>

					<p>
						JavaScript is also used in environments that aren’t web-based, such as PDF documents, site-specific browsers, and desktop widgets. Newer and faster JavaScript virtual machines (VMs) and platforms built upon them have also increased the popularity of JavaScript for server-side web applications.
					</p>

					<p>
						<a class="custom-btn custom-btn--medium custom-btn--style-1" href="#">Buy tokens</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
