@()(implicit flash: Flash, messages: Messages, ac: controllers.AppContext, req: play.api.mvc.RequestHeader)

<section class="section">
	<div class="grid grid--container">
		<div class="section-heading section-heading--center  col-MB-60">
			<h5 class="__subtitle">Наш севрис конечно же сделан на блокчейне </h5>

			<h2 class="__title">Информация о токене</h2>
		</div>

		<div class="row row--md-between">
			<div class="col col--md-5 col--lg-4">
				<div class="list-with-ico">
						<!-- start item -->
					<div class="list__item" data-aos="fade-right" data-aos-offset="50">
						<div class="b-table">
							<div class="cell v-middle">
								<i class="ico fontello-avatar"></i>
							</div>

							<div class="cell v-middle">
								<h5>Название: raise money (RM)</h5>
							</div>
						</div>
					</div>
						<!-- end item -->

						<!-- start item -->
					<div class="list__item" data-aos="fade-right" data-aos-offset="50">
						<div class="b-table">
							<div class="cell v-middle">
								<i class="ico fontello-layer"></i>
							</div>

							<div class="cell v-middle">
								<h5>Платформа : Ethereum (ERC20)</h5>
							</div>
						</div>
					</div>
						<!-- end item -->

						<!-- start item -->
					<div class="list__item" data-aos="fade-right" data-aos-offset="50">
						<div class="b-table">
							<div class="cell v-middle">
								<i class="ico fontello-settings"></i>
							</div>

							<div class="cell v-middle">
								<h5>Role : тут переводчик уволился</h5>
							</div>
						</div>
					</div>
						<!-- end item -->

						<!-- start item -->
					<div class="list__item" data-aos="fade-right" data-aos-offset="50">
						<div class="b-table">
							<div class="cell v-middle">
								<i class="ico fontello-calculator"></i>
							</div>

							<div class="cell v-middle">
								<h5>Total supply : 100'000'000 tokens</h5>
							</div>
						</div>
					</div>
						<!-- end item -->

						<!-- start item -->
					<div class="list__item" data-aos="fade-right" data-aos-offset="50">
						<div class="b-table">
							<div class="cell v-middle">
								<i class="ico fontello-attachment"></i>
							</div>

							<div class="cell v-middle">
								<h5>ICO supply : 60'000'000 tokens</h5>
							</div>
						</div>
					</div>
						<!-- end item -->

						<!-- start item -->
					<div class="list__item" data-aos="fade-right" data-aos-offset="50">
						<div class="b-table">
							<div class="cell v-middle">
								<i class="ico fontello-tag"></i>
							</div>

							<div class="cell v-middle">
								<h5>Token price : 0.25€ / 0.29 USD</h5>
							</div>
						</div>
					</div>
						<!-- end item -->
				</div>
			</div>

			<div class="col hide--md col-MB-40"></div>

			<div class="col col--md-7">
				<div data-aos="fade-up">
					<h3>Мы долго мучились чтобы обосновать зачем нужен наш токен.</h3>

					<p>
						Вообщем по сути токен нафиг никому не нужен. Но создает иллюзию того, что вы владеетет частью нашей компании или претендуетет на прибыль. Короче, обещаем что
						будем платить каждому держателю токена ничего. Впрочем как и все.
					</p>

					<p>
						<a class="custom-btn custom-btn--medium custom-btn--style-1" href="#">Купить токен</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
