@()(implicit flash: Flash, messages: Messages, ac: controllers.AppContext, req: play.api.mvc.RequestHeader)

@landing.common.main { } {

	@landing.components.sections.exchangeRatesSection()
	@landing.components.sections.descrSection()
	@landing.components.sections.roadmapSection()
	@landing.components.sections.meetProductSection()
	@landing.components.sections.descrSection2()
	@landing.components.sections.crowdsaleSection()
	@landing.components.sections.middleDescrSection()
	@landing.components.sections.tokenInfoSection()
	@landing.components.sections.docLinksSection()
	@landing.components.sections.faqSection()
	@landing.components.sections.mainTeamSection()
	@landing.components.sections.teamSection()
	@landing.components.sections.pressSection()
	@landing.components.sections.newsSection()
	@landing.components.sections.subscribeSection()

} { }
