@(headerScripts: Html)(content: Html)(afterScripts: Html)(implicit flash: Flash, messages: Messages, ac: controllers.AppContext)
@landing.common.html(landing.common.head(headerScripts)) {
  @landing.common.body {
    @landing.common.bodyHeader()
		@landing.common.bodyScreen()
		<main role="main">
			@content
		</main>
		@landing.common.footer()
		<div id="btn-to-top-wrap">
			<a id="btn-to-top" class="circled" href="javascript:void(0);" data-visible-offset="800"></a>
		</div>
  } { 
   @afterScripts
   @Html(ac.afterPageScript)  
  }
}
